#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: none;
    opacity: 75%;
}

.dialogs {
    align-content: center;
    background-color: white;
}

* {
    text-align: center;
}

ul {
    list-style-position: inside;
}

body {
    background-color: lightgray;
    color: black;
}